<div class="flex-box">
    <mat-card class="mat-card-main">
        <mat-card-content>
            <h1 class="main-card-title">Harc</h1>
            <div class="flex-box">
                   <div class="slider">
                        <mat-list>
                            <mat-divider></mat-divider>
                            <mat-list-item class="list-item">
                                <app-fight [units]="unitsModel"></app-fight>
                            </mat-list-item>
                            <mat-divider></mat-divider>          
                            <mat-list-item class="list-item">
                                <app-fight [units]="unitsModel"></app-fight>
                            </mat-list-item>
                            <mat-divider></mat-divider>    
                            <mat-list-item class="list-item">
                                <app-fight [units]="unitsModel"></app-fight>
                            </mat-list-item>
                            <mat-divider></mat-divider>                      
                            <mat-list-item class="list-item">
                                <app-fight [units]="unitsModel"></app-fight>
                            </mat-list-item>
                            <mat-divider></mat-divider>    
                            <mat-list-item class="list-item">
                                <app-fight [units]="unitsModel"></app-fight>
                            </mat-list-item>
                            <mat-divider></mat-divider>    
                            <mat-list-item class="list-item">
                                <app-fight [units]="unitsModel"></app-fight>
                            </mat-list-item>
                            <mat-divider></mat-divider>    
                        </mat-list>
                    </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>