<div class="flex-box">
    <mat-card class="mat-card-main">
        <mat-card-content>
            <h1 class="main-card-title">Harc</h1>
            <div *ngIf="this.fightModels.length === 0"><h4>
                Nincsenek folyamatban harcok</h4></div>
            <div class="flex-box">
                   <div class="slider">
                        <mat-list>
                            <div *ngFor="let fight of fightModels">
                                <mat-divider></mat-divider>
                                <mat-list-item class="list-item">
                                    <app-fight [units]="fight"></app-fight>
                                </mat-list-item>
                            </div>
                            <mat-divider></mat-divider>    
                        </mat-list>
                    </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>