<div class="flex-box-features">
    <mat-card class="mat-card-main">
        <mat-card-content>
            <h1 class="main-card-title">Épületek</h1>
            <h3>Kattints rá, amelyiket szeretnéd megvenni</h3>
            <h4>Egyszerre csak egy épület épülhet</h4>

            <div  class="flex-box">
                <mat-card *ngFor="let building of buildings" class="building-card-in-main-page" [class.color1]="isSelected === 'color' + building.id"
                    (click)="enableButton('color' + building.id, building.id)">
                    <div *ngIf="building.remainingRounds > 0"
                        style="color: #9FFFF0; font-family: 'open-sans', sans-serif">
                        még {{ building.remainingRounds }} kör
                        <div class="img-container">
                            <img [src]="baseUrl + building.imageUrl" alt=''>
                        </div>
                    </div>
                    <div *ngIf="building.remainingRounds === 0" class="img-container" style="padding-top: 20px;">
                        <img [src]="baseUrl + building.imageUrl" alt=''>
                    </div>
                    <h3>{{ building.name }}</h3>
                    <div class="h3-container" style="text-align: center;">
                        <h3>{{ building.description }}</h3>
                    </div>
                    <h4>{{ building.count }} db</h4>
                    <h4>{{ building.price }} Gyöngy / db</h4>
                </mat-card>

            </div>
            <div class="divider">
                <mat-divider class="my-divider"></mat-divider>
            </div>

            <div class="button">
                <button mat-flat-button [disabled]="!clicked || inProgress" class="color-button"
                    (click)="buyBuilding()">Megveszem</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>