<div class="flex-box-features">
    <mat-card class="mat-card-main">
        <mat-card-content>
            <h1 class="main-card-title">Épületek</h1>
            <h3>Kattints rá, amelyiket szeretnéd megvenni</h3>
            <h4>Egyszerre csak egy épület épülhet</h4>

            <div class="flex-box">
                <mat-card class="building-card-in-main-page" [class.color1]="isSelected === 'color1'"
                    (click)="enableButton('color1')">
                    <div class="img-container">
                        <img src='../../../../assets/images/undersea_game-07.png' alt=''>
                    </div>
                    
                    <h3>{{ buildings[0].name }}</h3>
                    <div class="h3-container">
                        <h3>{{ buildings[0].description }}</h3>
                    </div>

                    <h4>{{ buildings[0].count }} db</h4>
                    <h4>{{ buildings[0].price }} Gyöngy / db</h4>

                </mat-card>
                <mat-card class="building-card-in-main-page" [class.color2]="isSelected === 'color2'"
                    (click)="enableButton('color2')">
                    <div class="img-container">
                        <img src='../../../../assets/images/undersea_game-05.png' alt=''>
                    </div>
                    <h3>{{ buildings[1].name }}</h3>
                    <div class="h3-container">
                        <h3>{{ buildings[1].description }}</h3>
                    </div>
                    

                    <h4>{{ buildings[1].count }} db</h4>
                    <h4>{{ buildings[1].price }} Gyöngy / db</h4>
                </mat-card>

            </div>
            <div class="divider">
                <mat-divider class="my-divider"></mat-divider>
            </div>

            <div class="button">
                <button mat-flat-button [disabled]="!clicked" class="color-button">Megveszem</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>