<div class="flex-box">
    <mat-card class="mat-card-main">
        <mat-card-content>
            <h1 class="main-card-title">Épületek</h1>
            <h3>Kattints rá, amelyiket szeretnéd megvenni</h3>
            <h4>Egyszerre csak egy épület épülhet</h4>

            <div class="flex-box">
                <mat-card class="building-card-in-main-page" [class.color1]="isSelected === 'color1'"
                    (click)="enableButton('color1')">
                    <div class="img-container">
                        <img src='../../../../assets/images/undersea_game-07.png' alt=''>
                    </div>
                    
                    <h3>{{ reefCastle.name }}</h3>
                    <!-- <h3>{{ reefCastle.givenMembers }} embert ad a népességhez</h3>
                    <h3>{{ reefCastle.bearedFood }} krumplit termel körönként</h3> -->

                    <h4>{{ reefCastle.count }} db</h4>
                    <h4>{{ reefCastle.price }} Gyöngy / db</h4>

                </mat-card>
                <mat-card class="building-card-in-main-page" [class.color2]="isSelected === 'color2'"
                    (click)="enableButton('color2')">
                    <div class="img-container">
                        <img src='../../../../assets/images/undersea_game-05.png' alt=''>
                    </div>
                    <h3>{{ streamManager.name }}</h3>
                    <!-- <h3>{{ streamManager.givenShelter }} egységnek nyújt szállást</h3> -->

                    <h4>{{ reefCastle.count }} db</h4>
                    <h4>{{ reefCastle.price }} Gyöngy / db</h4>
                </mat-card>

                <mat-card class="building-card-in-main-page" [class.color2]="isSelected === 'color2'"
                    (click)="enableButton('color2')">
                    <div class="img-container">
                        <img src='../../../../assets/images/cat_PNG50504.png' alt=''>
                    </div>
                    <h3>A cica típusa: {{ bossCat.type }}</h3>
                    <h3>{{ bossCat.text }}</h3>

                    <h4>{{ bossCat.status.verified }}</h4>
                    <h4>{{ bossCat.status.sentCount }} db</h4>
                </mat-card>

            </div>
            <div class="divider">
                <mat-divider class="my-divider"></mat-divider>
            </div>

            <div class="button">
                <button mat-flat-button [disabled]="!clicked" class="color-button">Megveszem</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>