<div class="flex-box">
    <mat-card class="mat-card-main">
        <mat-card-content>
            <h1 class="main-card-title">Sereg</h1>
            <h3>Kattints rá, amelyiket szeretnéd megvenni</h3>

            <div class="flex-box">
                <mat-card class="flex-box unit-card">
                    <div class="rectangle-big">
                        <img src="../../../../../assets/images/007-shark.svg" alt="">
                    </div>
                    <h3 class="main-name">Lézercápa</h3>
                    <h4 class="main-text">Ide jönnek majd a mindenféle adatok</h4>
                    <div class="plus-minus">
                        <button class="color-button-small">-</button>
                        <h3 class="main-name">3</h3>
                        <button class="color-button-small">+</button>
                    </div>
                </mat-card>
                <mat-card class="flex-box unit-card">
                    <div class="rectangle-big">
                        <img src="../../../../../assets/images/025-seal.svg" alt="">
                    </div>
                    <h3 class="main-name">Rohamfóka</h3>
                    <h4 class="main-text">Ide jönnek majd a mindenféle adatok</h4>
                    <div class="plus-minus">
                        <button class="color-button-small">-</button>
                        <h3 class="main-name">3</h3>
                        <button class="color-button-small">+</button>
                    </div>
                </mat-card>
                <mat-card class="flex-box unit-card">
                    <div class="rectangle-big">
                        <img src="../../../../../assets/images/013-seahorse.svg" alt="">
                    </div>
                    <h3 class="main-name">Csatacsikó</h3>
                    <h4 class="main-text">Ide jönnek majd a mindenféle adatok</h4>
                    <div class="plus-minus">
                        <button class="color-button-small">-</button>
                        <h3 class="main-name">3</h3>
                        <button class="color-button-small">+</button>
                    </div>
                </mat-card>
            </div>
            <mat-divider class="my-divider"></mat-divider>
            <div class="flex-box">
                <button class="color-button">Megveszem</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>