<div class="flex-box">
    <mat-card class="mat-card-main">
        <mat-card-content>
            <h1 class="main-card-title">Sereg</h1>
            <h3>Kattints rá, amelyiket szeretnéd megvenni</h3>

            <div class="flex-box" >
                <div *ngFor="let unitModel of unitsModel">
                    <app-unit [unit]="unitModel" [buyNumber]=0 [image]="unitModel.imageUrl" (clickDecrease)="decrease(unitModel.id)" (clickAdd)="increase(unitModel.id)"></app-unit>  
                </div>
                    
            </div>

            <div class="divider">
                <mat-divider class="my-divider"></mat-divider>
            </div>
            
            <div class="button">
                <button mat-flat-button class="color-button">Megveszem</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>