
.flex-box{
    height: 80vh;
    flex-direction: row;
    .flex-box{
        height: fit-content;
        flex-direction: row;
        
    }
}

.flex-box .unit-card{
    flex-direction: column;
    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 16px;
}

.plus-minus{
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

div.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

.data-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 20vw;
    margin-bottom: 5vh;
}
