<div class="flex-box">
    <mat-card class="flex-card">
        <mat-card-content>
            <div class="rectangle">
                <img src="../../../../../assets/images/002-male.svg" alt="">
            </div>
        </mat-card-content>

        <mat-card-content>
            <div class="profile-text">
                jakabjatekos
            </div>
        </mat-card-content>

        <mat-card-content>
            <button class="transp-button" mat-flat-button>Profil</button>
        </mat-card-content>

        <mat-card-content>
            <button class="transp-button" (click)="logout()" mat-flat-button>Kijelentkezés</button>
        </mat-card-content>
    </mat-card>
</div>
