<div class="flex-box">
    <mat-card class="flex-card">
        <div class="flex-box">
            <mat-card-content>
                <div class="header-text">4.kör</div>
            </mat-card-content>
    
            <mat-card-content>
                <div class="header-text">23.hely</div>
            </mat-card-content>    
        </div>
        
        <div class="flex-box">
            <mat-card-content>
                <div class="rectangle">
                    <img src="../../../../../assets/images/007-shark.svg" alt="">
                </div>
            </mat-card-content>
    
            <mat-card-content>
                <div class="header-number">0</div>
            </mat-card-content>
    
            <mat-card-content>
                <div class="rectangle">
                    <img src="../../../../../assets/images/025-seal.svg" alt="">
                </div>
            </mat-card-content>
    
            <mat-card-content>
                <div class="header-number">5</div>
            </mat-card-content>
    
            <mat-card-content>
                <div class="rectangle">
                    <img src="../../../../../assets/images/013-seahorse.svg" alt="">
                </div>
            </mat-card-content>
    
            <mat-card-content>
                <div class="header-number">13</div>
            </mat-card-content>
    
            <mat-card-content>
                <div class="rectangle">
                    <img src="../../../../../assets/images/shell.svg" alt="">
                </div>
            </mat-card-content>
    
            <mat-card-content>
                <div class="header-number">230</div>
                <div class="header-small-text">20/kör</div>
            </mat-card-content>
    
            <mat-card-content>
                <div class="rectangle">
                    <img src="../../../../../assets/images/018-coral.svg" alt="">
                </div>
            </mat-card-content>
    
            <mat-card-content>
                <div class="header-number">230</div>
                <div class="header-small-text">12/kör</div>
            </mat-card-content>
    
            <mat-card-content>
                <div class="rectangle">
                    <img src="../../../../../assets/images/Group125.png" alt="">
                </div>
            </mat-card-content>
    
            <mat-card-content>
                <div class="header-number">1</div>
            </mat-card-content>
    
            <mat-card-content>
                <div class="rectangle">
                    <img src="../../../../../assets/images/Group126.png" alt="">
                </div>
            </mat-card-content>
    
            <mat-card-content>
                <div class="header-number">0</div>
            </mat-card-content>
    
            <mat-card-content>
                <div class="rectangle"></div>
            </mat-card-content>
    
            <mat-card-content>
                <div class="header-number">0</div>
            </mat-card-content>
        </div>
        
    </mat-card>
</div>