<div class="flex-box">
    <mat-card class="flex-card">
        <div class="flex-box">
            <mat-card-content (click)="newRound()" style="cursor: pointer">
                <div class="header-text">{{ everything.statusBar.roundCount }} . kör</div>
            </mat-card-content>

            <mat-card-content>
                <div class="header-text">{{ everything.statusBar.scoreboardPosition }} . hely</div>
            </mat-card-content>
        </div>

        <div class="flex-box">
            <div style="display: flex; flex-direction: row; align-items: center;"
                *ngFor="let unit of everything.statusBar.units">
                <mat-card-content>
                    <div class="rectangle">
                        <img [src]="baseUrl + unit.imageUrl" alt="">
                    </div>
                </mat-card-content>

                <mat-card-content>
                    <div class="header-number">{{ unit.availableCount }}</div>
                </mat-card-content>
            </div>

                <mat-card-content>
                    <div class="rectangle">
                        <img src="../../../../../assets/images/shell.svg" alt="">
                    </div>
                </mat-card-content>

                <mat-card-content>
                    <div class="header-number">{{everything.statusBar.resources.pearlCount | number}}</div>
                    <div class="header-small-text">{{everything.statusBar.resources.pearlProductionCount | number}}/kör</div>
                </mat-card-content>

                <mat-card-content>
                    <div class="rectangle">
                        <img src="../../../../../assets/images/018-coral.svg" alt="">
                    </div>
                </mat-card-content>

                <mat-card-content>
                    <div class="header-number">{{everything.statusBar.resources.coralCount | number}}</div>
                    <div class="header-small-text">{{everything.statusBar.resources.coralProductionCount | number}}/kör</div>
                </mat-card-content>

                <div style="display: flex; flex-direction: row; align-items: center;"
                    *ngFor="let building of everything.statusBar.buildings">
                    <mat-card-content>
                        <div class="rectangle">
                            <img [src]="baseUrl + building.imageUrl" alt="">
                        </div>
                    </mat-card-content>

                    <mat-card-content>
                        <div class="header-number">{{ building.count }}</div>
                    </mat-card-content>
                </div>


            </div>

    </mat-card>
</div>