@font-face{
    font-family: baloo;
    src: url(assets/font/Baloo-Regular.ttf);
}

// todo: a kettő különböző hátteret meg kell jeleníteni
body{
    background-image: url("./assets/images/undersea_game-08.png");
    background-repeat: no-repeat;
    background-size: 100vw;
}

