$white: #ffffff;
$light-blue: #9FFFF0;
$second-blue: #6BEEE9;
$third-blue: #0FCFDE;
$dark-blue: #1C3E76;
$dark-dark-blue: #001234;
$baloo-font: 'baloo', regular;

.flex-box {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.color-button{
    min-width: 10vw;
    min-height: 5vh;
    margin-top: 15px;
    margin-left: 15px;
    text-align: center;
    line-height: 5vh;
}
