
<div class="flex-box">
    
        <button class="color-button" mat-raised-button (click)="openBuildings()">Épületek</button>

        <button class="color-button" mat-raised-button (click)="openAttack()">Támadás</button>

        <button class="color-button" mat-raised-button (click)="openUpgrades()">Fejlesztések</button>

        <button class="color-button" mat-raised-button (click)="openFight()">Harc</button>

        <button class="color-button" mat-raised-button (click)="openScoreBoard()">Ranglista</button>

        <button class="color-button" mat-raised-button (click)="openArmy()">Sereg</button>

</div>
