<body class="login-body">

    <div class="flex-box login">

        <div class="wave" style="--w:100px;--h:30px;--p:12.5px; --t:8px;--c:#9FFFF0"></div>

        <h1>UNDERSEA</h1>

        <mat-card *ngIf=!reg class="flex-box">
            <mat-card-title>Belépés</mat-card-title>
            <mat-card-content class="input-line">
                <form class="login-form" [formGroup]="loginForm" style="display: flex; flex-direction: column; align-items: center;">
                    <mat-form-field class="login-full-width" floatLabel="never">
                        <mat-label>Felhasználónév</mat-label>
                        <input matInput name="username" formControlName="username">
                    </mat-form-field>
                    <div style="margin-left: 10px; color: red"
                        *ngIf="loginForm.controls['username'].errors?.required && loginForm.controls['username'].touched">
                        A felhasználónév kötelező.
                    </div>
                    <div style="margin-left: 10px; color: red"
                        *ngIf="loginForm.controls['username'].errors?.whitespace && loginForm.controls['username'].touched">
                        A felhasználónév nem állhat csupán szóközből.
                    </div>


                    <mat-form-field class="login-full-width" floatLabel="never" style="margin-top: 20px;">
                        <mat-label>Jelszó</mat-label>
                        <input matInput type="password" name="password" formControlName="password">
                    </mat-form-field>
                    <div style="margin-left: 10px; color: red"
                        *ngIf="loginForm.controls['password'].errors?.required && loginForm.controls['password'].touched">
                        A jelszó kötelező.
                    </div>
                    <div style="margin-left: 10px; color: red"
                        *ngIf="loginForm.controls['password'].errors?.whitespace && loginForm.controls['password'].touched">
                        A jelszó nem állhat csupán szóközből.
                    </div>
                    
                    <button mat-flat-button type="submit" class="color-button" style="margin-top: 25px; width: auto;" (click)="login()">Belépés</button>
                    
                    <button mat-flat-button class="transp-button" style="margin-top: 20px; width: auto;" (click)="_true()">Regisztráció</button>
                    
                </form>
            </mat-card-content>
        </mat-card>


        <mat-card *ngIf=reg class="flex-box">
            <mat-card-title>Regisztráció</mat-card-title>
            <mat-card-content class="input-line">
                <form class="login-form" [formGroup]="regForm" style="display: flex; flex-direction: column; align-items: center;">
                    <mat-form-field class="login-full-width" floatLabel="never">
                        <mat-label>Felhasználónév</mat-label>
                        <input matInput name="regUsername" formControlName="regUsername">
                    </mat-form-field>
                    <div style="margin-left: 10px; color: red"
                        *ngIf="regForm.controls['regUsername'].errors?.required && regForm.controls['regUsername'].touched">
                        A felhasználónév kötelező.
                    </div>
                    <div style="margin-left: 10px; color: red"
                        *ngIf="regForm.controls['regUsername'].errors?.whitespace && regForm.controls['regUsername'].touched">
                        A felhasználónév nem állhat csupán szóközből.
                    </div>

                    <mat-form-field class="login-full-width" floatLabel="never" style="margin-top: 20px;">
                        <mat-label>Jelszó</mat-label>
                        <input matInput type="password" name="regPassword" formControlName="regPassword">
                    </mat-form-field>
                    <div style="margin-left: 10px; color: red"
                        *ngIf="regForm.controls['regPassword'].errors?.required && regForm.controls['regPassword'].touched">
                        A jelszó kötelező.
                    </div>
                    <div style="margin-left: 10px; color: red"
                        *ngIf="regForm.controls['regPassword'].errors?.whitespace && regForm.controls['regPassword'].touched">
                        A jelszó nem állhat csupán szóközből.
                    </div>
                    <div style="margin-left: 10px; color: red"
                        *ngIf="regForm.controls['regPassword'].errors?.minlength && regForm.controls['regPassword'].touched">
                        A jelszó nem lehet 4 karakternél rövidebb.
                    </div>

                    <mat-form-field class="login-full-width" floatLabel="never" style="margin-top: 20px;">
                        <mat-label>Jelszó megerősítése</mat-label>
                        <input matInput type="password" name="passConfirm" formControlName="passConfirm">
                    </mat-form-field>
                    <div style="margin-left: 10px; color: red"
                        *ngIf="regForm.controls['passConfirm'].errors?.required && regForm.controls['passConfirm'].touched">
                        A jelszó megerősítése kötelező.
                    </div>
                    <div style="margin-left: 10px; color: red"
                        *ngIf="regForm.controls['passConfirm'].value != regForm.controls['regPassword'].value && regForm.controls['passConfirm'].touched">
                        A jelszók nem egyeznek.
                    </div>

                    <mat-form-field class="login-full-width" floatLabel="never" style="margin-top: 20px;">
                        <mat-label>A városod neve amit építesz</mat-label>
                        <input matInput name="country" formControlName="country">
                    </mat-form-field>
                    <div style="margin-left: 10px; color: red"
                        *ngIf="regForm.controls['country'].errors?.required && regForm.controls['country'].touched">
                        Az országnév kötelező.
                    </div>
                    <button type="submit" class="color-button" style="margin-top: 25px; width: auto;" (click)="signup()" mat-flat-button>Regisztráció</button>
                    <button class="transp-button" style="margin-top: 20px; width: auto;" (click)="_false()" mat-flat-button>Bejelentkezés</button>
                </form>

            </mat-card-content>
            <mat-card-actions class="input-line">
                
            </mat-card-actions>
            <mat-card-actions>
                
            </mat-card-actions>

        </mat-card>
    </div>


</body>