<mat-card class="flex-box unit-card">
    <div class="rectangle-big">
        <img [src]="image" alt="">
    </div>
    <h3 class="main-name">{{ unit.name }}</h3>
    <div class="data-holder">
        <div class="data">
            Birtokodban: <br>
            Támadás/Védekezés <br>
            Zsold ( /kör/példány) <br>
            Ellátmány ( /kör/példány) <br>
            Ár
        </div>
        <div class="numbers">
            0<!--ide kell majd a count, amit a fejléchez behúzott adatokból szedünk le. -->> db <br>
            {{ unit.attackScore }} / {{ unit.defenseScore }}<br>
            {{ unit.pearlCostPerTurn }} Gyöngy <br>
            {{ unit.coralCostPerTurn }} Korall <br>
            {{ unit.price }} Gyöngy
        </div>
    </div>
    <div class="plus-minus">
        <button mat-mini-fab class="color-button-small" (click)="clickDecrease.emit()">-</button>
        <h3 class="main-name">{{ unit.buyNumber }}</h3>
        <button mat-mini-fab class="color-button-small" (click)="clickAdd.emit()">+</button>
    </div>
</mat-card>