<img *ngIf="layout.everything.structures.sonarCannon"
    style="position: absolute; left: 50vw; top: 10vh; z-index: 1; width: 16vw; height: auto;"
    src="../../../../../assets/images/undersea_game-03@2x.png" alt="">

<img *ngIf="layout.everything.structures.reefCastle"
    style="position: absolute; left: 40vw; top: 33vh; z-index: 2; width: 18vw; height: auto;"
    src="../../../../../assets/images/undersea_game-07.png" alt="">

<img *ngIf="layout.everything.structures.flowManager"
    style="position: absolute; left: 52vw; top: 53vh; z-index: 3; width: 18vw; height: auto;"
    src="../../../../../assets/images/undersea_game-05@2x.png" alt="">

<img style="position: absolute; left: 35vw; top: 53vh; z-index: 4; width: 12vw; height: auto;"
    src="../../../../../assets/images/undersea_game-02@2x.png" alt="">

 <img *ngIf="layout.everything.structures.mudTractor" 
    style="position: absolute; left: 50vw; top: 60vh; z-index: 5; width: 8vw; height: auto;"
    src="../../../../../assets/images/undersea_game-09@2x.png" alt="">

<img *ngIf="layout.everything.structures.mudHarvester" 
    style="position: absolute; left: 35vw; top: 40vh; z-index: 6; width: 12vw; height: auto;"
    src="../../../../../assets/images/undersea_game-10@2x.png" alt="">