
<div class="flex-box">
    
        <button type="submit" class="color-button" mat-raised-button>Épületek</button>

        <button type="submit" class="color-button" mat-raised-button>Támadás</button>

        <button type="submit" class="color-button" mat-raised-button>Fejlesztések</button>

        <button type="submit" class="color-button" mat-raised-button>Harc</button>

        <button type="submit" class="color-button" mat-raised-button>Ranglista</button>

        <button type="submit" class="color-button" mat-raised-button>Sereg</button>

</div>
