$light-blue: #9FFFF0;
$second-blue: #6BEEE9;
$third-blue: #0FCFDE;
$dark-blue: #1C3E76;
$dark-dark-blue: #001234;
$baloo-font: 'baloo', regular;

.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button{
    border-radius: 90px !important;
}


.color-button{
    border: none;
    border-radius: 90px;
    background: transparent;
    background-image: linear-gradient(258deg, $light-blue 0%, $second-blue 36%, $third-blue 100%);
    font-family: $baloo-font;
    color: $dark-dark-blue;
    font-size: 2.5vh;
    
}

.color-button-small{
    border: none;
    border-radius: 50%;
    background-color: $light-blue;
    font-family: 'open-sans', sans-serif;
    color: $dark-dark-blue;
    font-size: 3vh;
    height: 25px;
    width: 25px;
    margin-left: 1vw;
    margin-right: 1vw;
}

.transp-button{
    border: none;
    background: transparent;
    font-family: $baloo-font;
    font-size: 18px;
}