.wave {
    --c:red;   /* Color */
    --t:7px;   /* Thickness */
    --h:50px;  /* Height  */
    --w:100px; /* Width  */
    --p:13px;  /* adjust this to correct the position when changing the other values*/
    
    margin:5px auto;
    width:calc(var(--w)*4);
    height:calc(var(--h) + 10px);
    overflow:hidden;
    position:relative;
  }
  .wave:before {
    content:"";
    position:absolute;
    padding:5px 0;
    top:0;
    left:0;
    width:200%;
    bottom:0;
    
    background:
      radial-gradient(farthest-side at 50% calc(100% + var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)),transparent calc(52% + var(--t))),
      radial-gradient(farthest-side at 50% calc(0%   - var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)),transparent calc(52% + var(--t)));
      
    background-size:var(--w) var(--h);
    background-position:calc(var(--w)/2) calc(-1*(var(--h)/2)),0px calc(var(--h)/2);
    background-repeat:repeat-x;
    background-origin:content-box;
    
    animation:move 3s infinite linear;
  }
  
  @keyframes move {
    to {
     transform:translateX(-50%);
    }
}